# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
venv/
.venv/
env/

# Jupyter
.ipynb_checkpoints/

# Datasets
data/raw/*
data/processed/*
*.csv
*.json

# Models
*.h5
*.keras
*.pth
*.pt
*.pkl
*.joblib

# Generated results
results/models/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
