# Python
__pycache__/
*.py[cod]

# Virtual environments
venv/
.venv/
env/

# Jupyter
.ipynb_checkpoints/

# Datasets
data/raw/*
data/processed/*

# Trained models
*.h5
*.keras
*.pth
*.pt
*.pkl
*.joblib

# Generated model outputs
results/models/*

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db